body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1037px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:18px;
}
#u1312 {
  position:absolute;
  left:13px;
  top:4px;
  width:129px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:18px;
}
#u1312_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:18px;
}
#u1312.mouseOver {
}
#u1313 {
  position:absolute;
  left:0px;
  top:7px;
  width:129px;
  white-space:nowrap;
}
#u1314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:2px;
}
#u1314 {
  position:absolute;
  left:13px;
  top:43px;
  width:1024px;
  height:1px;
}
#u1315 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1317 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u1318 {
  position:absolute;
  left:507px;
  top:372px;
  width:26px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u1319 {
  position:absolute;
  left:16px;
  top:-2px;
  width:1px;
  word-wrap:break-word;
}
