body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1324 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1325 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:38px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1326 {
  position:absolute;
  left:32px;
  top:31px;
  width:878px;
  height:38px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1327 {
  position:absolute;
  left:36px;
  top:10px;
  width:840px;
  word-wrap:break-word;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:4px;
}
#u1328 {
  position:absolute;
  left:46px;
  top:48px;
  width:5px;
  height:4px;
}
#u1329 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:235px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
  line-height:21px;
}
#u1330 {
  position:absolute;
  left:32px;
  top:68px;
  width:878px;
  height:235px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
  line-height:21px;
}
#u1331 {
  position:absolute;
  left:16px;
  top:16px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1333 {
  position:absolute;
  left:35px;
  top:70px;
  width:880px;
  height:144px;
}
#u1334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u1334 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1335 {
  position:absolute;
  left:16px;
  top:11px;
  width:48px;
  word-wrap:break-word;
}
#u1336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u1336 {
  position:absolute;
  left:80px;
  top:0px;
  width:112px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1337 {
  position:absolute;
  left:16px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
#u1338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
}
#u1338 {
  position:absolute;
  left:192px;
  top:0px;
  width:101px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1339 {
  position:absolute;
  left:16px;
  top:11px;
  width:69px;
  word-wrap:break-word;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
}
#u1340 {
  position:absolute;
  left:293px;
  top:0px;
  width:73px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1341 {
  position:absolute;
  left:16px;
  top:11px;
  width:41px;
  word-wrap:break-word;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u1342 {
  position:absolute;
  left:366px;
  top:0px;
  width:97px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1343 {
  position:absolute;
  left:16px;
  top:11px;
  width:65px;
  word-wrap:break-word;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1344 {
  position:absolute;
  left:463px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1345 {
  position:absolute;
  left:16px;
  top:11px;
  width:68px;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u1346 {
  position:absolute;
  left:563px;
  top:0px;
  width:102px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1347 {
  position:absolute;
  left:16px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
}
#u1348 {
  position:absolute;
  left:665px;
  top:0px;
  width:91px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1349 {
  position:absolute;
  left:16px;
  top:11px;
  width:59px;
  word-wrap:break-word;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u1350 {
  position:absolute;
  left:756px;
  top:0px;
  width:57px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1351 {
  position:absolute;
  left:16px;
  top:11px;
  width:25px;
  word-wrap:break-word;
}
#u1352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
}
#u1352 {
  position:absolute;
  left:813px;
  top:0px;
  width:62px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1353 {
  position:absolute;
  left:16px;
  top:11px;
  width:30px;
  word-wrap:break-word;
}
#u1354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
}
#u1354 {
  position:absolute;
  left:0px;
  top:40px;
  width:80px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
  line-height:18px;
}
#u1355 {
  position:absolute;
  left:16px;
  top:8px;
  width:48px;
  word-wrap:break-word;
}
#u1356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1356 {
  position:absolute;
  left:80px;
  top:40px;
  width:112px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:18px;
}
#u1357 {
  position:absolute;
  left:16px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u1358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
}
#u1358 {
  position:absolute;
  left:192px;
  top:40px;
  width:101px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1359 {
  position:absolute;
  left:16px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u1360 {
  position:absolute;
  left:293px;
  top:40px;
  width:73px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1361 {
  position:absolute;
  left:16px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u1362 {
  position:absolute;
  left:366px;
  top:40px;
  width:97px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1363 {
  position:absolute;
  left:16px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u1364 {
  position:absolute;
  left:463px;
  top:40px;
  width:100px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1365 {
  position:absolute;
  left:16px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u1366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
}
#u1366 {
  position:absolute;
  left:563px;
  top:40px;
  width:102px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1367 {
  position:absolute;
  left:16px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u1368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
}
#u1368 {
  position:absolute;
  left:665px;
  top:40px;
  width:91px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1369 {
  position:absolute;
  left:16px;
  top:8px;
  width:59px;
  word-wrap:break-word;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
}
#u1370 {
  position:absolute;
  left:756px;
  top:40px;
  width:57px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1371 {
  position:absolute;
  left:16px;
  top:10px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u1372 {
  position:absolute;
  left:813px;
  top:40px;
  width:62px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1373 {
  position:absolute;
  left:16px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u1374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u1374 {
  position:absolute;
  left:0px;
  top:75px;
  width:80px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
  line-height:18px;
}
#u1375 {
  position:absolute;
  left:16px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u1376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
}
#u1376 {
  position:absolute;
  left:80px;
  top:75px;
  width:112px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:18px;
}
#u1377 {
  position:absolute;
  left:16px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u1378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u1378 {
  position:absolute;
  left:192px;
  top:75px;
  width:101px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1379 {
  position:absolute;
  left:16px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u1380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u1380 {
  position:absolute;
  left:293px;
  top:75px;
  width:73px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1381 {
  position:absolute;
  left:16px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u1382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u1382 {
  position:absolute;
  left:366px;
  top:75px;
  width:97px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1383 {
  position:absolute;
  left:16px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u1384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1384 {
  position:absolute;
  left:463px;
  top:75px;
  width:100px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1385 {
  position:absolute;
  left:16px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u1386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u1386 {
  position:absolute;
  left:563px;
  top:75px;
  width:102px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1387 {
  position:absolute;
  left:16px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u1388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
}
#u1388 {
  position:absolute;
  left:665px;
  top:75px;
  width:91px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1389 {
  position:absolute;
  left:16px;
  top:8px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u1390 {
  position:absolute;
  left:756px;
  top:75px;
  width:57px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1391 {
  position:absolute;
  left:16px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:32px;
}
#u1392 {
  position:absolute;
  left:813px;
  top:75px;
  width:62px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1393 {
  position:absolute;
  left:16px;
  top:7px;
  width:30px;
  word-wrap:break-word;
}
#u1394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u1394 {
  position:absolute;
  left:0px;
  top:107px;
  width:80px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
  line-height:18px;
}
#u1395 {
  position:absolute;
  left:16px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u1396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
}
#u1396 {
  position:absolute;
  left:80px;
  top:107px;
  width:112px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:18px;
}
#u1397 {
  position:absolute;
  left:16px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u1398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u1398 {
  position:absolute;
  left:192px;
  top:107px;
  width:101px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1399 {
  position:absolute;
  left:16px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u1400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u1400 {
  position:absolute;
  left:293px;
  top:107px;
  width:73px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1401 {
  position:absolute;
  left:16px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u1402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u1402 {
  position:absolute;
  left:366px;
  top:107px;
  width:97px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1403 {
  position:absolute;
  left:16px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u1404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1404 {
  position:absolute;
  left:463px;
  top:107px;
  width:100px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1405 {
  position:absolute;
  left:16px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u1406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u1406 {
  position:absolute;
  left:563px;
  top:107px;
  width:102px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1407 {
  position:absolute;
  left:16px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u1408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
}
#u1408 {
  position:absolute;
  left:665px;
  top:107px;
  width:91px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1409 {
  position:absolute;
  left:16px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u1410 {
  position:absolute;
  left:756px;
  top:107px;
  width:57px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1411 {
  position:absolute;
  left:16px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:32px;
}
#u1412 {
  position:absolute;
  left:813px;
  top:107px;
  width:62px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1413 {
  position:absolute;
  left:16px;
  top:7px;
  width:30px;
  word-wrap:break-word;
}
#u1414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1414 {
  position:absolute;
  left:783px;
  top:400px;
  width:8px;
  height:8px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u1415 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
