body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:38px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:31px;
  width:878px;
  height:38px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:10px;
  width:840px;
  word-wrap:break-word;
}
#u1972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:4px;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:48px;
  width:5px;
  height:4px;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:235px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
  line-height:21px;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:68px;
  width:878px;
  height:235px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
  line-height:21px;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:70px;
  width:880px;
  height:144px;
}
#u1978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:11px;
  width:48px;
  word-wrap:break-word;
}
#u1980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:112px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
#u1982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:0px;
  width:101px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:11px;
  width:69px;
  word-wrap:break-word;
}
#u1984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:0px;
  width:73px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:11px;
  width:41px;
  word-wrap:break-word;
}
#u1986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:0px;
  width:97px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:11px;
  width:65px;
  word-wrap:break-word;
}
#u1988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:11px;
  width:68px;
  word-wrap:break-word;
}
#u1990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:0px;
  width:102px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
#u1992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:0px;
  width:91px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:11px;
  width:59px;
  word-wrap:break-word;
}
#u1994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:0px;
  width:57px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:11px;
  width:25px;
  word-wrap:break-word;
}
#u1996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:0px;
  width:62px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:11px;
  width:30px;
  word-wrap:break-word;
}
#u1998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:80px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
  line-height:18px;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:48px;
  word-wrap:break-word;
}
#u2000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:40px;
  width:112px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:18px;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u2002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:40px;
  width:101px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u2004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:40px;
  width:73px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2005 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u2006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u2006 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:40px;
  width:97px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2007 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u2008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u2008 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:40px;
  width:100px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2009 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u2010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
}
#u2010 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:40px;
  width:102px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2011 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u2012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
}
#u2012 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:40px;
  width:91px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2013 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:59px;
  word-wrap:break-word;
}
#u2014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
}
#u2014 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:40px;
  width:57px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2015 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:10px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u2016 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:40px;
  width:62px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2017 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u2018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u2018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:80px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
  line-height:18px;
}
#u2019 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u2020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
}
#u2020 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:75px;
  width:112px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:18px;
}
#u2021 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u2022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u2022 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:75px;
  width:101px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2023 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u2024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u2024 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:75px;
  width:73px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2025 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u2026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u2026 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:75px;
  width:97px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2027 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u2028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u2028 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:75px;
  width:100px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2029 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u2030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u2030 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:75px;
  width:102px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2031 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u2032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
}
#u2032 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:75px;
  width:91px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2033 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u2034 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:75px;
  width:57px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2035 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:32px;
}
#u2036 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:75px;
  width:62px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2037 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:30px;
  word-wrap:break-word;
}
#u2038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u2038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:80px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
  line-height:18px;
}
#u2039 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u2040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
}
#u2040 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:107px;
  width:112px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:18px;
}
#u2041 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u2042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u2042 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:107px;
  width:101px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2043 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u2044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u2044 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:107px;
  width:73px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2045 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u2046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u2046 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:107px;
  width:97px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2047 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u2048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u2048 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:107px;
  width:100px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2049 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u2050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u2050 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:107px;
  width:102px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2051 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u2052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:107px;
  width:91px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2053 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u2054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u2054 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:107px;
  width:57px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2055 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:32px;
}
#u2056 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:107px;
  width:62px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2057 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:30px;
  word-wrap:break-word;
}
#u2058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u2058 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:400px;
  width:8px;
  height:8px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u2059 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
