body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1445 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1446 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:38px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1447 {
  position:absolute;
  left:32px;
  top:31px;
  width:878px;
  height:38px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1448 {
  position:absolute;
  left:36px;
  top:10px;
  width:840px;
  word-wrap:break-word;
}
#u1449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:4px;
}
#u1449 {
  position:absolute;
  left:46px;
  top:48px;
  width:5px;
  height:4px;
}
#u1450 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:235px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
  line-height:21px;
}
#u1451 {
  position:absolute;
  left:32px;
  top:68px;
  width:878px;
  height:235px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
  line-height:21px;
}
#u1452 {
  position:absolute;
  left:16px;
  top:16px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1454 {
  position:absolute;
  left:35px;
  top:70px;
  width:880px;
  height:144px;
}
#u1455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u1455 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1456 {
  position:absolute;
  left:16px;
  top:11px;
  width:48px;
  word-wrap:break-word;
}
#u1457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u1457 {
  position:absolute;
  left:80px;
  top:0px;
  width:112px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1458 {
  position:absolute;
  left:16px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
#u1459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
}
#u1459 {
  position:absolute;
  left:192px;
  top:0px;
  width:101px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1460 {
  position:absolute;
  left:16px;
  top:11px;
  width:69px;
  word-wrap:break-word;
}
#u1461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
}
#u1461 {
  position:absolute;
  left:293px;
  top:0px;
  width:73px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1462 {
  position:absolute;
  left:16px;
  top:11px;
  width:41px;
  word-wrap:break-word;
}
#u1463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u1463 {
  position:absolute;
  left:366px;
  top:0px;
  width:97px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1464 {
  position:absolute;
  left:16px;
  top:11px;
  width:65px;
  word-wrap:break-word;
}
#u1465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1465 {
  position:absolute;
  left:463px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1466 {
  position:absolute;
  left:16px;
  top:11px;
  width:68px;
  word-wrap:break-word;
}
#u1467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u1467 {
  position:absolute;
  left:563px;
  top:0px;
  width:102px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1468 {
  position:absolute;
  left:16px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
#u1469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
}
#u1469 {
  position:absolute;
  left:665px;
  top:0px;
  width:91px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1470 {
  position:absolute;
  left:16px;
  top:11px;
  width:59px;
  word-wrap:break-word;
}
#u1471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u1471 {
  position:absolute;
  left:756px;
  top:0px;
  width:57px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1472 {
  position:absolute;
  left:16px;
  top:11px;
  width:25px;
  word-wrap:break-word;
}
#u1473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
}
#u1473 {
  position:absolute;
  left:813px;
  top:0px;
  width:62px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1474 {
  position:absolute;
  left:16px;
  top:11px;
  width:30px;
  word-wrap:break-word;
}
#u1475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
}
#u1475 {
  position:absolute;
  left:0px;
  top:40px;
  width:80px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
  line-height:18px;
}
#u1476 {
  position:absolute;
  left:16px;
  top:8px;
  width:48px;
  word-wrap:break-word;
}
#u1477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1477 {
  position:absolute;
  left:80px;
  top:40px;
  width:112px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:18px;
}
#u1478 {
  position:absolute;
  left:16px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u1479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
}
#u1479 {
  position:absolute;
  left:192px;
  top:40px;
  width:101px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1480 {
  position:absolute;
  left:16px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u1481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u1481 {
  position:absolute;
  left:293px;
  top:40px;
  width:73px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1482 {
  position:absolute;
  left:16px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u1483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u1483 {
  position:absolute;
  left:366px;
  top:40px;
  width:97px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1484 {
  position:absolute;
  left:16px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u1485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u1485 {
  position:absolute;
  left:463px;
  top:40px;
  width:100px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1486 {
  position:absolute;
  left:16px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u1487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
}
#u1487 {
  position:absolute;
  left:563px;
  top:40px;
  width:102px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1488 {
  position:absolute;
  left:16px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u1489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
}
#u1489 {
  position:absolute;
  left:665px;
  top:40px;
  width:91px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1490 {
  position:absolute;
  left:16px;
  top:8px;
  width:59px;
  word-wrap:break-word;
}
#u1491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
}
#u1491 {
  position:absolute;
  left:756px;
  top:40px;
  width:57px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1492 {
  position:absolute;
  left:16px;
  top:10px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u1493 {
  position:absolute;
  left:813px;
  top:40px;
  width:62px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1494 {
  position:absolute;
  left:16px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u1495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u1495 {
  position:absolute;
  left:0px;
  top:75px;
  width:80px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
  line-height:18px;
}
#u1496 {
  position:absolute;
  left:16px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u1497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
}
#u1497 {
  position:absolute;
  left:80px;
  top:75px;
  width:112px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:18px;
}
#u1498 {
  position:absolute;
  left:16px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u1499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u1499 {
  position:absolute;
  left:192px;
  top:75px;
  width:101px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1500 {
  position:absolute;
  left:16px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u1501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u1501 {
  position:absolute;
  left:293px;
  top:75px;
  width:73px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1502 {
  position:absolute;
  left:16px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u1503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u1503 {
  position:absolute;
  left:366px;
  top:75px;
  width:97px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1504 {
  position:absolute;
  left:16px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u1505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1505 {
  position:absolute;
  left:463px;
  top:75px;
  width:100px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1506 {
  position:absolute;
  left:16px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u1507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u1507 {
  position:absolute;
  left:563px;
  top:75px;
  width:102px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1508 {
  position:absolute;
  left:16px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u1509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
}
#u1509 {
  position:absolute;
  left:665px;
  top:75px;
  width:91px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1510 {
  position:absolute;
  left:16px;
  top:8px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u1511 {
  position:absolute;
  left:756px;
  top:75px;
  width:57px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1512 {
  position:absolute;
  left:16px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:32px;
}
#u1513 {
  position:absolute;
  left:813px;
  top:75px;
  width:62px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1514 {
  position:absolute;
  left:16px;
  top:7px;
  width:30px;
  word-wrap:break-word;
}
#u1515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u1515 {
  position:absolute;
  left:0px;
  top:107px;
  width:80px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
  line-height:18px;
}
#u1516 {
  position:absolute;
  left:16px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u1517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
}
#u1517 {
  position:absolute;
  left:80px;
  top:107px;
  width:112px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:18px;
}
#u1518 {
  position:absolute;
  left:16px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u1519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u1519 {
  position:absolute;
  left:192px;
  top:107px;
  width:101px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1520 {
  position:absolute;
  left:16px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u1521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u1521 {
  position:absolute;
  left:293px;
  top:107px;
  width:73px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1522 {
  position:absolute;
  left:16px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u1523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u1523 {
  position:absolute;
  left:366px;
  top:107px;
  width:97px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1524 {
  position:absolute;
  left:16px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u1525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1525 {
  position:absolute;
  left:463px;
  top:107px;
  width:100px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1526 {
  position:absolute;
  left:16px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u1527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u1527 {
  position:absolute;
  left:563px;
  top:107px;
  width:102px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1528 {
  position:absolute;
  left:16px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u1529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
}
#u1529 {
  position:absolute;
  left:665px;
  top:107px;
  width:91px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1530 {
  position:absolute;
  left:16px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u1531 {
  position:absolute;
  left:756px;
  top:107px;
  width:57px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1532 {
  position:absolute;
  left:16px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:32px;
}
#u1533 {
  position:absolute;
  left:813px;
  top:107px;
  width:62px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1534 {
  position:absolute;
  left:16px;
  top:7px;
  width:30px;
  word-wrap:break-word;
}
#u1535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1535 {
  position:absolute;
  left:783px;
  top:400px;
  width:8px;
  height:8px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u1536 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
