body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1174px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'  Regular', ' ';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#666666;
  line-height:24px;
}
#u895 {
  position:absolute;
  left:4px;
  top:20px;
  width:139px;
  height:24px;
  font-family:'  Regular', ' ';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#666666;
  line-height:24px;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u898 {
  position:absolute;
  left:-13px;
  top:59px;
  width:1160px;
  height:278px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u899 {
  position:absolute;
  left:16px;
  top:131px;
  width:1128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:45px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u900 {
  position:absolute;
  left:-13px;
  top:59px;
  width:1160px;
  height:45px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u901 {
  position:absolute;
  left:16px;
  top:14px;
  width:1128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u902 {
  position:absolute;
  left:12px;
  top:73px;
  width:57px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u905 {
  position:absolute;
  left:94px;
  top:115px;
  width:96px;
  height:26px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u906 {
  position:absolute;
  left:0px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u907 {
  position:absolute;
  left:190px;
  top:115px;
  width:200px;
  height:26px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u908 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u910 {
  position:absolute;
  left:94px;
  top:140px;
  width:96px;
  height:25px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u911 {
  position:absolute;
  left:0px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u912 {
  position:absolute;
  left:190px;
  top:140px;
  width:200px;
  height:25px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u913 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u915 {
  position:absolute;
  left:94px;
  top:165px;
  width:96px;
  height:26px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u916 {
  position:absolute;
  left:0px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u917 {
  position:absolute;
  left:190px;
  top:165px;
  width:200px;
  height:26px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u918 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u920 {
  position:absolute;
  left:94px;
  top:190px;
  width:96px;
  height:26px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u921 {
  position:absolute;
  left:0px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u922 {
  position:absolute;
  left:190px;
  top:190px;
  width:200px;
  height:26px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u923 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u925 {
  position:absolute;
  left:94px;
  top:215px;
  width:96px;
  height:25px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u926 {
  position:absolute;
  left:0px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u927 {
  position:absolute;
  left:190px;
  top:215px;
  width:200px;
  height:25px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u928 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u930 {
  position:absolute;
  left:94px;
  top:240px;
  width:96px;
  height:26px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u931 {
  position:absolute;
  left:0px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u932 {
  position:absolute;
  left:190px;
  top:240px;
  width:200px;
  height:26px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u933 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u935 {
  position:absolute;
  left:94px;
  top:266px;
  width:96px;
  height:26px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u936 {
  position:absolute;
  left:0px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u937 {
  position:absolute;
  left:190px;
  top:266px;
  width:200px;
  height:25px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u938 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u941 {
  position:absolute;
  left:3px;
  top:354px;
  width:386px;
  height:210px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u942 {
  position:absolute;
  left:24px;
  top:16px;
  width:346px;
  word-wrap:break-word;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u944 {
  position:absolute;
  left:27px;
  top:409px;
  width:51px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u945 {
  position:absolute;
  left:0px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u946 {
  position:absolute;
  left:78px;
  top:409px;
  width:214px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u947 {
  position:absolute;
  left:2px;
  top:2px;
  width:212px;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u948 {
  position:absolute;
  left:27px;
  top:431px;
  width:51px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u949 {
  position:absolute;
  left:0px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u950 {
  position:absolute;
  left:78px;
  top:431px;
  width:214px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u951 {
  position:absolute;
  left:2px;
  top:2px;
  width:212px;
  word-wrap:break-word;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u952 {
  position:absolute;
  left:27px;
  top:453px;
  width:51px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u953 {
  position:absolute;
  left:0px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u954 {
  position:absolute;
  left:78px;
  top:453px;
  width:214px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u955 {
  position:absolute;
  left:2px;
  top:2px;
  width:212px;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000CC;
  text-align:right;
  line-height:18px;
}
#u956 {
  position:absolute;
  left:292px;
  top:409px;
  width:77px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000CC;
  text-align:right;
  line-height:18px;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000CC;
  text-align:right;
  line-height:18px;
}
#u958 {
  position:absolute;
  left:292px;
  top:431px;
  width:77px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000CC;
  text-align:right;
  line-height:18px;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000CC;
  text-align:right;
  line-height:18px;
}
#u960 {
  position:absolute;
  left:340px;
  top:454px;
  width:29px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000CC;
  text-align:right;
  line-height:18px;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u963 {
  position:absolute;
  left:407px;
  top:355px;
  width:317px;
  height:208px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u964 {
  position:absolute;
  left:24px;
  top:16px;
  width:277px;
  word-wrap:break-word;
}
#u965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u966 {
  position:absolute;
  left:428px;
  top:402px;
  width:81px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u967 {
  position:absolute;
  left:0px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u968 {
  position:absolute;
  left:529px;
  top:402px;
  width:76px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u969 {
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u970 {
  position:absolute;
  left:428px;
  top:422px;
  width:81px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u971 {
  position:absolute;
  left:0px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u972 {
  position:absolute;
  left:529px;
  top:422px;
  width:76px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u973 {
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000CC;
  line-height:18px;
}
#u974 {
  position:absolute;
  left:615px;
  top:401px;
  width:76px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000CC;
  line-height:18px;
}
#u975 {
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000CC;
  line-height:18px;
}
#u976 {
  position:absolute;
  left:615px;
  top:421px;
  width:76px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#0000CC;
  line-height:18px;
}
#u977 {
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u979 {
  position:absolute;
  left:734px;
  top:357px;
  width:410px;
  height:208px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u980 {
  position:absolute;
  left:24px;
  top:16px;
  width:370px;
  word-wrap:break-word;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u981 {
  position:absolute;
  left:1160px;
  top:543px;
  width:27px;
  height:22px;
}
#u982 {
  position:absolute;
  left:2px;
  top:3px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u986 {
  position:absolute;
  left:90px;
  top:371px;
  width:26px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u987 {
  position:absolute;
  left:16px;
  top:-2px;
  width:1px;
  word-wrap:break-word;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u989 {
  position:absolute;
  left:507px;
  top:372px;
  width:26px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u990 {
  position:absolute;
  left:16px;
  top:-2px;
  width:1px;
  word-wrap:break-word;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u992 {
  position:absolute;
  left:507px;
  top:372px;
  width:26px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u993 {
  position:absolute;
  left:16px;
  top:-2px;
  width:1px;
  word-wrap:break-word;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u995 {
  position:absolute;
  left:745px;
  top:397px;
  width:51px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u996 {
  position:absolute;
  left:0px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u997 {
  position:absolute;
  left:796px;
  top:397px;
  width:52px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u998 {
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u999 {
  position:absolute;
  left:745px;
  top:419px;
  width:51px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1000 {
  position:absolute;
  left:0px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1001 {
  position:absolute;
  left:796px;
  top:419px;
  width:51px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1003 {
  position:absolute;
  left:847px;
  top:397px;
  width:52px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1005 {
  position:absolute;
  left:899px;
  top:397px;
  width:53px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1007 {
  position:absolute;
  left:950px;
  top:397px;
  width:52px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1009 {
  position:absolute;
  left:998px;
  top:398px;
  width:52px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1011 {
  position:absolute;
  left:847px;
  top:419px;
  width:52px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1013 {
  position:absolute;
  left:899px;
  top:419px;
  width:53px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1015 {
  position:absolute;
  left:952px;
  top:419px;
  width:48px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000CC;
  text-align:right;
  line-height:18px;
}
#u1017 {
  position:absolute;
  left:1050px;
  top:420px;
  width:85px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000CC;
  text-align:right;
  line-height:18px;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1019 {
  position:absolute;
  left:998px;
  top:419px;
  width:41px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:18px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u1022 {
  position:absolute;
  left:836px;
  top:372px;
  width:26px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u1023 {
  position:absolute;
  left:16px;
  top:-2px;
  width:1px;
  word-wrap:break-word;
}
